.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgba($black, 0.8);
  flex-shrink: 0;

  // .logo__image

  &__image {
  }

  // .logo__title

  &__title {
  }
}
.nav {
  @media screen and (max-width: 820px) {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 30px 60px;
    height: 100vh;
    background: $white;
    transform: translateX(110%);
  }

  transition: transform 0.3s ease-in-out;

  &_active {
    transform: translateX(0);
  }

  // .nav__list

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    @media screen and (max-width: 820px) {
      flex-direction: column;
    }
  }

  // .nav__item

  &__item {
  }

  // .nav__link

  &__link {
    text-decoration: none;
    color: $black;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $primary;
    }

    &_active {
      color: $primary;
    }
  }
}
.button {
  font-size: 1rem;
  padding: 12px 36px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  color: $black;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;

  // .button_primary

  &_primary {
    background: $primary;
    color: $white;
  }

  // .button_secondary

  &_secondary {
    background: $secondary;
    color: $white;
  }

  // .button_outlined

  &_outlined {
    background: none;
    &.button_primary {
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}

.section {
  margin: 100px 0;
  &__header {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
    &_left {
      align-items: flex-start;
      text-align: left;
      @media screen and (max-width: 820px) {
        text-align: center;
        align-items: center;
      }
    }
  }
  &__suptitle {
    text-transform: capitalize;
  }
  &__subtitle {
    line-height: 1.8;
    color: rgba($black, 0.6);
  }
  &__title {
    &_sm {
      font-size: 30px;
    }
    @media screen and (max-width: calc($container-width + 2 * $container-padding)) {
      font-size: 42px;
    }
    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }
}
