// -------- COLORS -------- //
$black: #1d1b1b;
$white: #ffffff;
$primary: #ef0178;
$secondary: #5243c2;

// -------- INTERFACE -------- //
$font-family: 'Montserrat';
$heading-font-family: 'Montserrat';
$font-size: 18px;
$font-color: $black;

$body-background: $white;

$container-width: 1280px;
$container-padding: 10px;
