.subscribe {
  background: #0c111f;
  color: $white;
  padding: 100px 0;

  // .subscribe__container

  &__container {
    text-align: center;
    position: relative;
  }

  // .subscribe__decorator

  &__decorator {
    position: absolute;
    &:nth-child(1) {
      left: 55px;
      bottom: -20px;
      @media screen and (max-width: 1023.98px) {
        bottom: -100px;
      }
    }
    &:nth-child(2) {
      right: 55px;
      top: -50px;
      @media screen and (max-width: 1023.98px) {
        top: -100px;
      }
    }
  }

  // .subscribe__title

  &__title {
    font-weight: normal;
    margin-bottom: 10px;
  }

  // .subscribe__text

  &__text {
    color: rgba($white, 0.6);
  }

  // .subscribe__form

  &__form {
    margin-top: 50px;
    display: inline-flex;
    align-items: stretch;
    gap: 15px;
    max-width: 560px;
    width: 100%;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }

  // .subscribe__input

  &__input {
    border-radius: 5px;
    padding: 12px 30px;
    border: none;
    background: rgba($white, 0.06);
    font-size: 1rem;
    color: $white;
    min-width: 0;
    width: 100%;
  }

  // .subscribe__button

  &__button {
    flex-shrink: 0;
    justify-content: center;
  }
}
.footer {
  background: #0c111f;
  padding: 40px 0;
  // .footer__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  // .footer__logo

  &__logo {
    color: $white;
  }

  // .footer__nav

  &__nav {
  }
}
.footer-nav {
  // .footer-nav__list

  &__list {
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  // .footer-nav__item

  &__item {
  }

  // .footer-nav__link

  &__link {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}
