.hire {
  // .hire__container

  &__container {
    padding: 100px 70px;
    @media screen and (max-width: 550px) {
      padding: 50px;
    }
    background: $secondary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
    }
  }

  // .hire__decorator

  &__decorator {
    position: absolute;
    @media screen and (max-width: 550px) {
      display: none;
    }
    &:nth-child(1) {
      left: 40%;
      bottom: 40px;
      @media screen and (max-width: 768px) {
        left: 10%;
      }
    }
    &:nth-child(2) {
      top: 50px;
      left: 60%;
      @media screen and (max-width: 768px) {
        right: 10%;
        left: inherit;
      }
    }
  }

  // .hire__title

  &__title {
    max-width: 570px;
    line-height: 1.5;
    @media screen and (max-width: 1023.98px) {
      font-size: 28px;
      max-width: 50%;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  // .hire__button

  &__button {
    background: $primary;
    border: none;
    padding: 25px 40px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-flex;
    letter-spacing: 0.1rem;
  }
}
.section {
}
.container {
}
