<div class="subscribe">
  <div class="subscribe__container container">
    <svg
      class="subscribe__decorator"
      width="65"
      height="39"
      viewBox="0 0 65 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.17627 1L13.7923 22.0263L27.0541 12.5516L35.7591 27.9123L52.0658 19.2534L62.6828 37.9182"
        stroke="#E7E7E7"
        stroke-width="4"
      />
    </svg>
    <svg
      class="subscribe__decorator"
      width="89"
      height="94"
      viewBox="0 0 89 94"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="32.77"
        cy="38.9181"
        r="22.4902"
        transform="rotate(-27.3707 32.77 38.9181)"
        stroke="white"
        stroke-width="3.64706"
      />
      <circle
        cx="55.8236"
        cy="54.3619"
        r="23.7059"
        transform="rotate(-27.3707 55.8236 54.3619)"
        stroke="white"
        stroke-width="1.21569"
      />
    </svg>
    <h3 class="subscribe__title">Subscribe to get notified about update</h3>
    <p class="subscribe__text">
      By subscribing with your mail, you will accept our privacy policy
    </p>
    <form class="subscribe__form">
      <input
        type="email"
        required
        class="subscribe__input"
        placeholder="Enter your email"
      />
      <button type="submit" class="button button_secondary subscribe__button">
        Subscribe us
      </button>
    </form>
  </div>
</div>
<footer class="footer">
  <div class="footer__container container">
    <a href="/" class="logo footer__logo">
      <img src="./img/logo.svg" alt="Eset Up" />
      <h5>Eset Up</h5>
    </a>
    <nav class="footer__nav footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Home</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">About</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Service</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Price</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
